.MessageForm {
    display: flex;
    background: #2FC9B9;
  }
  
  .MessageForm .input-container {
    flex: 1;
    margin: 1px;
  }
  
  .MessageForm .button-container {
    flex: 0 0 6em;
    margin: 1px 1px 1px 0;
  }
  
  .MessageForm input, .MessageForm button {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: inherit;
    height: 100%;
    outline: none;
    width: 100%;
  }
  
  .MessageForm input {
    padding: 0 0 0 4px;
  }
  .inputmsg{
    box-shadow: none;
    padding:10px;
    background: white;
    position : fixed;
    bottom : 12%;
    width: 96%;
    margin-right: 2%;
  }
  @media screen and (max-height: 450px) {
    .inputmsg{
      box-shadow: none;
      padding:10px;
      background: white;
      position : fixed;
      bottom : 15%;
      width: 96%;
      margin-right: 2%;
    }
  }
  @media  screen and (max-height: 375px) {
    .inputmsg{
      box-shadow: none;
      padding:10px;
      background: white;
      position : fixed;
      bottom : 20%;
      width: 96%;
      margin-right: 2%;
    }
  }
  @media  screen and (max-height: 300px) {
    .inputmsg{
      box-shadow: none;
      padding:10px;
      background: white;
      position : fixed;
      bottom : 23%;
      width: 96%;
      margin-right: 2%;
    }
  }