.MuiAvatar-img {
  width: 40%;
  height: 40%;
}


/* .MuiAvatar-root {
    width: 50px !important;
    height: 50px !important;
  }

  .MuiListItemAvatar-alignItemsFlexStart {
     margin-top: 8px; 
    margin: 5px;
} */
  /* 
  @media only screen and (max-width: 500px) {
    .MuiAvatar-root {
      width: 85px !important;
      height: 85px !important;  }
  }
  
  @media only screen and (max-width: 350px) {
    .MuiAvatar-root {
      width: 60px !important;
      height: 60px !important;  }
  }
  
  @media only screen and (max-width: 180px) {
    .MuiAvatar-root {
      width: 30px !important;
      height: 30px !important;  }
  }
   */
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
   }
  
   /* .PrivateTabIndicator-colorPrimary-3 {
    background-color: #fff !important;
  } */
  
  .MuiTab-textColorPrimary.Mui-selected {
    color: #fff !important;
  }
  .PrivateTabIndicator-colorPrimary-106 {
    background-color: #fff;
}