body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@media all and (display-mode: standalone) {
  body {
    background-color: yellow;
  }
}

/* @font-face {
  font-family: "Ubuntu-Medium";
  src: url(/assets/fonts/Ubuntu/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: "Ubuntu-Regular";
  src: url(/assets/fonts/Ubuntu/Ubuntu-Regular.ttf);
}

@font-face {
  font-family: "Ubuntu-Italic";
  src: url(/assets/fonts/Ubuntu/Ubuntu-Italic.ttf);
} */
